.container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.break-page {
  line-height: 40px;
  text-align: center;
}

.page-link {
  display: block;
  color: var(--color-primary);
  background-color: var(--color-background-darkest);
  height: 40px;
  width: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.active .page-link,
.page-link:hover {
  color: var(--color-background-darkest);
  background-color: var(--color-primary);
}

.hide {
  display: none;
}
